* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0 auto;
  min-height: 100vh;
  font-family: "Montserrat", "Helvetica Neue", sans-serif;
  letter-spacing: 2px;
  text-align: center;
  background-color: #fcfcfc;
}

.nav,
.navbar,
footer {
  background-color: #a4b7c4;
}

main {
  flex: 1;
  padding: 2rem;
}

h1,
h2 {
  font-family: "Madimi One", serif;
  margin: 0;
}

.headlineP {
  font-family: "Bubbler One", serif;
  font-size: 1.5em;
}

p {
  text-align: left;
  margin: 0.5em;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: #cdcde6;
  font-weight: 700;
}

.profile-image-container {
  position: relative;
  display: inline-block;
}

.profile-image,
.hover-image {
  width: 128px;
  height: 128px;
  border-radius: 50%;
}

.hover-image {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.profile-image-container:hover .hover-image {
  opacity: 1;
}

.profile-image-container:hover .profile-image {
  opacity: 0;
}

#submitBtn {
  background-color: #b5c9e6;
}

#submitBtn:hover {
  background-color: #cdcde6;
  font-weight: bold;
}

.service-box,
.product-box {
  height: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #a4b7c4;
  background-color: #fcfcfc;
  transition: transform 0.4s, box-shadow 0.4s;
  overflow-wrap: break-word;
}

.service-box:hover,
.product-box:hover {
  background-color: #b5c9e6;
  transform: scale(1.05);
  
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.service-title,
.product-title {
  font-weight: bold;
}

.service-info,
.product-info {
  text-align: left;
  font-size: 1rem;
  color: #0f0f0f;
}

.product-image {
  max-width: 40%;
  margin: 1rem;
}

footer {
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
