* {
  box-sizing: border-box;
}

body {
  background-color: #fcfcfc;
  color: #0f0f0f;
  font-family: "Montserrat", "Helvetica Neue", sans-serif;
  letter-spacing: 2px;
  margin: 0 auto;
  min-height: 100vh;
  padding: 0;
  text-align: center;
}

.navbar {
  position: fixed;
  width: 100%;
  top: 0;
}

.navbar,
footer {
  align-items: center;
  background-color: #a4b7c4;
  justify-content: space-between;
  padding: 1rem;
}

.navbar-menu {
  padding: 1rem;
  position: absolute;
  right: 0;
  text-align: left;
  z-index: 10;
}

.cart-icon-wrapper {
  align-content: center;
  margin-left: 1rem;
}

#shoppingCartBtn {
  display: flex;
  align-items: center;
}

.cart-icon {
  background: none;
  border: none;
  cursor: pointer;
}

.cart-icon:hover {
  transform: scale(1.05);
}

.cart-icon .icon {
  font-size: 1.5rem;
}

#cartPopup {
  background: #fcfcfc;
  border: 1px solid #ddd;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: none;
  position: absolute;
  padding: 1rem;
  right: 2;
  top: 100%;
  width: 400px;
  z-index: 1000;
}

.cart-popup-header {
  margin-bottom: 1rem;
}

.cart-list {
  text-align: left;
  list-style: square;
  padding: 1rem;
  margin: 0 0 1rem 0;
}

.cart-list li {
  margin-bottom: 0.5rem;
}

#cartPopup.is-active {
  display: block;
}

main {
  flex: 1;
  padding: 2rem;
  margin: 6rem auto;
  max-width: 1400px;
}

h1,
h2 {
  /* font-family: "Madimi One", serif; */
  font-family: "Bubbler One", serif;
  /* margin: 0; */
}

.headlineP {
  font-size: 1.5em;
  text-align: center;
}

p {
  margin: 0.5em;
  text-align: left;
}

a {
  color: #0f0f0f;
  text-decoration: none;
}

a:hover {
  color: #cdcde6;
  font-weight: 700;
}

.profile-image-container {
  display: inline-block;
  position: relative;
}

.profile-image,
.hover-image {
  border-radius: 50%;
  height: 128px;
  width: 128px;
}

.hover-image {
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transition: opacity 0.3s ease;
}

.profile-image-container:hover .hover-image {
  opacity: 1;
}

.profile-image-container:hover .profile-image {
  opacity: 0;
}

#about-dog {
  max-height: 400px;
}

#iframeContainer {
  max-width: 100%;
  overflow-x: hidden;
}

#submitBtn,
.cartBtn {
  background-color: #cdcde6;
  padding: 1rem;
}

#submitBtn:hover,
.cartBtn:hover {
  background-color: #c7a6c8;
  font-weight: bold;
}

.service-box,
.product-box {
  align-items: center;
  background-color: #fcfcfc;
  display: flex;
  flex-direction: column;
  height: 95%;
  justify-content: space-evenly;
  overflow-wrap: break-word;
  transition: transform 0.4s, box-shadow 0.4s;
}

.service-box:hover,
.product-box:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transform: scale(1.05);
}

.service-title,
.product-title {
  font-weight: bold;
}

.product-image {
  margin: 1rem;
  max-width: 40%;
}

footer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

/* #footer div p,
#footer div a {
  text-align: right;
} */

@media (min-width: 1060px) {
  .show-img,
  .about-p {
    align-self: center;
  }
  .show-img img:nth-child(1) {
    max-height: 550px;
    width: auto;
  }
  .show-img img:nth-child(2) {
    display: none;
  }
}

@media (max-width: 1025px) {
  .navbar-menu {
    top: 100%;
  }
  #cartPopup {
    width: 300px;
  }
}

@media (max-width: 768px) {
  #footer {
    flex-direction: column;
    align-items: flex-start;
  }
}
